---

---

@import "{{ site.theme }}";

.sidenav {
  height: 500px;
  width: 140px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f3f3f3; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 150px;
}

.neumorphic {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 1);
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

a {
  color: #373737;
}

a:hover {
  color: #0F79D0;
}
